.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
}
.danger {
    background: rgb(250, 146, 146);
    color:rgb(243, 24, 24);
    border-color: rgb(243, 24, 24);
}
.success {
    background: rgb(118, 250, 136);
    color:rgb(7, 121, 22);
    border-color: rgb(7, 121, 22);
}